body { font-family: "Gotham HTF"; }
body pre { font-family: "Inconsolata"; }
h1 {
  font-weight: 600;
  color: #333;
}
blockquote {
  font-size: 2em;
}

div.content.smaller[ref*=importance_of_acceptance_tests] pre {
  font-size: 2em;
}
